@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Bayon&family=Content:wght@400;700&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  font-family: 'Rajdhani', sans-serif;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}

p {
  font-family: 'Aldrich', sans-serif;
} */


body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Roboto, Helvetica, sans-serif; */
}


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #27b4db;
  border-radius: 0px;
  border: 0px solid #ffffff;
}

.btn {
  background: linear-gradient(92.23deg,
      #ff56f6 21.43%,
      #b936ee 50.63%,
      #3bace2 100%,
      #406aff 117.04%);
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(92.23deg,
      #406aff 21.43%,
      #3bace2 50.63%,
      #b936ee 100%,
      #ff56f6 117.04%);
}

.gradient,
.active {
  background: linear-gradient(92.23deg,
      #406aff 21.43%,
      #3bace2 50.63%,
      #b936ee 100%,
      #ff56f6 117.04%);
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}




@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }

  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }

  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }

  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }

  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }

  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }

  .btn-link {
    @apply text-base;
  }

  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }

  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }

  p {
    @apply my-[16px] mx-0;
  }

  h3 {
    @apply font-bold text-2xl lg:text-3xl;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  code {
    border-left: 3px solid rgb(154, 152, 152);
    padding-left: 15px;
    /* font-family: "Courier New", Courier, monospace !important; */
    font-style: italic;
    /* background-color: rgba(164, 157, 157, 0.307); */
    @apply font-medium;
  }

  /* custom markdawn style */
  #markdown a {
    text-decoration: underline !important;
    color: rgb(65, 127, 240) !important;
  }

  #markdown a:hover {
    color: rgb(65, 65, 222) !important;
  }

  #markdown img {
    margin: 10px auto;
    width: 100% !important;
  }


  /* blog background for dark mode */
  .bg-dark {
    background-color: rgb(21, 21, 33);
  }

}

@media screen and (max-width: 768px) {

  /* Your CSS rules for smaller screens go here */
  #markdown img {
    width: 100% !important;
  }
}